#landscape {
    position: absolute;
    z-index: -10;
}

#pohutukawa {

    position: absolute;
    width: 700px;
    z-index: 1;
    pointer-events: none;
}

#pink {
    position: absolute;

    top: 220px;
    left: 400px;
    z-index: -1;
}

#orange {
    position: absolute;

    top: 200px;
    left: 600px;
    z-index: 3;
}

#green {
    position: absolute;

    top: 150px;
    left: 450px;
    z-index: 3;
}

#darkblue {
    position: absolute;

    top: 200px;
    left: 300px;
    z-index: 3;
}

#blue {
    position: absolute;

    top: 150px;
    left: 180px;
    z-index: 3;
}

#red {
    position: absolute;

    top: 300px;
    left:100px;
    z-index: 3;
}

.coloredballs:hover{
    animation-fill-mode: forwards;
}
.coloredballs {
    animation-duration: 5s;
    animation-name: bounce;

}

@keyframes bounce{
    20%{
        top: 410px;
    }
    40% {
        top: 350px;
    }
    60%{
        top: 410px;
    }
    80%{
        top: 350px;
    }

    90%{
        top: 410px;
    }

}



.all {
    position: absolute;
    width: 700px;
    height: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
