#landscape {
    position: absolute;
    z-index: -10;
}

#pohutukawa {

    position: absolute;
    width: 700px;
    z-index: 1;
    pointer-events: none;
}

#pink {
    position: absolute;

    top: 220px;
    left: 400px;
    z-index: -1;
}

#orange {
    position: absolute;

    top: 200px;
    left: 600px;
    z-index: 3;
}

#green {
    position: absolute;

    top: 150px;
    left: 450px;
    z-index: 3;
}

#darkblue {
    position: absolute;

    top: 200px;
    left: 300px;
    z-index: 3;
}

#blue {
    position: absolute;

    top: 150px;
    left: 180px;
    z-index: 3;
}

#red {
    position: absolute;

    top: 300px;
    left:100px;
    z-index: 3;
}

.coloredballs:hover {
    animation-duration: 3s;
    animation-name: get-bigger;
}

@keyframes get-bigger{
    from{
        /*width: 100%;*/
        transform: scale(1.0, 1.0);

    }
    to{
        /*width: 150%;*/
        transform: scale(3,3);
    }
}



.all {
    position: absolute;
    width: 700px;
    height: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
